body{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Helvetica', 'Times New Roman', Times, serif;
    font-size: 2vw;
    line-height: 1.6;
}

img{
    width: 100%;
    max-width: inherit;
    border-radius: 12px;
    margin-bottom: 12px;
}

h1 {
    text-align: center;
    color: crimson;
    font-size: 5vw;
}

.steps{
    border-radius: 6px;
    overflow: hidden;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: .5vh;
    padding-bottom: .75vh;
    margin-bottom: .75vh;
}

.ingredients{
    background-color: mistyrose;
}

.cooking{
    background-color:mintcream;
}


.list{
    width: 80%;
}

a{
    font-size: 1.5vw;
    text-decoration: none;
}

li {
    width:fit-content;
    background-color: rgb(255, 254, 237);
    border-radius: 1vh;
    border-color: grey;
    border-width: 1px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    margin-bottom: 1vh;
}